/*importação de fonte de letra*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /*variavéis de cor**/
    --cor-primaria: #000000;
    --cor-texto: #f6f6f6;
    --cor-decoracao: #FF4D05;
    --fonte-primaria: 'Inter', sans-serif;
}

/*reset das bordas e margens do html, o '*' seleciona todas as tags*/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    font-family: Inter;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
}

#logoCamlTech{
    height: 1.5rem;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu a {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-texto);
    text-decoration: none;
}

.cabecalho__menu a:hover {
    color: var(--cor-decoracao);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.apresentacao {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

#apresentacao__subtitulo{
    color: var(--cor-decoracao);
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.apresentacao__botoes a{
    text-decoration: none;
    background-color: var(--cor-decoracao);
    color: var(--cor-texto);
    margin:0 3rem 3rem 0;
    padding: 0.8rem 2rem 0.8rem 2rem;  
    border-radius: 10px;
}

#apresentacao__botoes__projetos{
    background-color: var(--cor-primaria);
    border-style: solid;
    border-color: #FF4D05;
    border-width: 1px;
}

.apresentacao__botoes a:hover{
    color: var(--cor-decoracao);
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
}

#apresentacao__botoes__projetos:hover{
    color: var(--cor-texto);
    background-color: var(--cor-decoracao);
}

.apresentacao__paragrafo{
    margin: 3rem 11rem;
    text-align: right;
    width: 20rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
    color: var(--cor-texto);
    background-color: var(--cor-decoracao);
    text-align: center;
    font-size: 1rem;
    
}

.footer__icones{
    display: flex;
    gap: 1rem; 
    position: absolute; 
    right: 0; /* Alinha os ícones à direita */
    top: 50%; 
    transform: translateY(-50%);
    color: #f6f6f6;
}